body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 15px;
  text-decoration: solid;
  text-align: left;
}
p {
  padding: 10px;
}

.header h1 {
  color: black;
  margin: 0;
}
.placeholder {
  font-size: 13px;
}
.main {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.login,
.signup {
  width: 30%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
}

button {
  background-color: rgb(184, 23, 184);
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  background-color: #294f7e;
}

.footer {
  background-color: rgb(184, 23, 184);
  color: white;
  padding: 20px;
  text-align: center;
}
.fp {
  color: rgb(184, 23, 184);
}
.name {
  font-size: 35px;
  text-align: left;
}
.header {
  background-color: white;
  text-align: center;
  padding: 5px;
  overflow-x: hidden;
  box-shadow: 0 0 20px black;
}
header li {
  display: inline;
  padding-left: 45px;
}
header li a {
  text-decoration: none;
  padding: 15px;
}
header li a :hover {
  color: rgb(184, 23, 184);
}
header li login a {
  background-color: black;
  border-radius: 20px;
}
header li signup a {
  background-color: black;
  border-radius: 20px;
}
a {
  text-align: center;
}
a:link {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: auto;
}
a:visited {
  text-decoration: none;
  color: rgb(184, 23, 184);
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.login-options {
  padding: 5%;
  margin-top: 0px;
  text-align: center;
}
p {
  text-align: center;
}
p:link {
  text-decoration: none;
  margin-left: 30px;
  margin-right: 20px;
}
p:visited {
  text-decoration: none;
  color: rgb(64, 15, 143);
}
p:hover {
  text-decoration: none;
}
p:active {
  text-decoration: none;
}
